<div class="flex col-sm-12 px-5 mx-5 pt-5">
  <div class="text-center text-white">
    <h3>Incluir Aluno</h3>
  </div>
  <div class="col-md-12 row">
    <div class="col-md-2"></div>
    <div class="card col-md-8">
      <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="form-group flex row">
            <div class="col-4">
              <label for="matricula" class="h5 mt-4">Matrícula</label>
              <input type="text" class="form-control" name="matricula" id="matricula" formControlName="matricula">
            </div>
            <div class="col-8">
              <label for="matricula" class="h5 mt-4">Nome</label>
              <input type="text" class="form-control" name="nome" id="nome" formControlName="nome">
            </div>
          </div>

          <div class="form-group">
            <label for="caminhoArcanista" class="h5 mt-4">Caminho do Arcanista</label>
            <select class="form-select" id="caminhoArcanista" formControlName="caminhoArcanista">
              <option value="" disabled>Selecione uma opção</option>
              <option value="FEITICEIRO">Feiticeiro</option>
              <option value="MAGO">Mago</option>
              <option value="BRUXO">Bruxo</option>
            </select>
          </div>

          <div class="form-group">
            <label for="matricula" class="h5 mt-4">Data de Nascimento</label>
            <input type="date" class="form-control" id="nome" formControlName="dataNascimento">
          </div>

          <div class="form-group">
            <label for="caminhoArcanista" class="h5 mt-4">Escolaridade</label>
            <select class="form-select" id="caminhoArcanista" formControlName="escolaridade">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let valueEnum of escolaridade " value="{{valueEnum}}">{{valueEnum}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="formFile" class="form-label mt-4">Foto</label>
            <input class="form-control" type="file" id="formFile" formControlName="foto">
          </div>

          <div class="form-group">
            <label for="curriculo" class="form-label mt-4">Currículo</label>
            <input class="form-control" type="file" id="curriculo" formControlName="curriculo">
          </div>

          <div class="form-group col-12">
            <label for="EscolaPreferida" class="h5 mt-4">Escola de Magia Preferida</label>
            <select class="form-select" id="EscolaPreferida" formControlName="escolaPreferida">
              <option value="" disabled>Selecione uma opção</option>
              <option *ngFor="let school of schools " value="{{school}}">{{school}}</option>
            </select>
          </div>




        </form>
      </div>
    </div>
  </div>
</div>
