<div class="flex col-12 px-5 me-5 pt-5">
  <div class="mx-5 mt-5 row">
    <h2 class="col-12 text-white text-bold">Tired of being just a sad magic caster?</h2>
    <div class="col-8">
      <h4 class="text-white text-muted">Come study in the most incredible school in the world</h4>
    </div>
    <div>
      <h5 class="text-white">The best prices. The best Magic</h5>
    </div>
    <div class="col-12">
      <p class="text-white text-center">Only US$ 1254568487532145453,99!! </p>
    </div>

  </div>

</div>
